
<!--div(ng-controller="VideoCtrl as controller",class="videogular-container well row")
videogular(vg-theme="controller.config.theme.url")
    vg-media(vg-src="controller.config.sources",
    vg-tracks="controller.config.tracks",
    vg-native-controls="true" )
//videogular(vg-theme="controller.config.theme")
    vg-media(vg-src="controller.config.sources",
            vg-tracks="controller.config.tracks")
    vg-controls
        vg-play-pause-button
        vg-time-display
            |{{ currentTime | date:'mm:ss' }}
        vg-scrub-bar
            vg-scrub-bar-current-time
        vg-time-display
            |{{ timeLeft | date:'mm:ss' }}
        vg-volume
            vg-mute-button
            vg-volume-bar
        vg-fullscreen-button
    vg-overlay-play
    vg-poster(vg-url='controller.config.plugins.poster')

--><!DOCTYPE html>
<div ng-controller="VideoCtrl as controller">
  <form class="well row">
    <div class="form-group">
      <h4>Загрузить видео с компьютера</h4>
      <div style="margin:10pt;" class="input-group">
        <label class="input-group-btn"><span class="btn btn-primary">Видео
            <input id="src" type="file" style="display: none;" accept="video/*" custom-on-change="changedVideo" ng-model="myVideo"></span></label>
        <input id="uploaded_video" type="text" readonly="" ng-model="myVideoInfo" class="form-control">
      </div>
      <div style="margin:10pt;" class="input-group">
        <label class="input-group-btn"><span class="btn btn-primary">Субтитры
            <input id="sub" type="file" style="display: none;" accept="/*" ng-model="mySub" custom-on-change="changedSub"></span></label>
        <input id="uploaded_sub" type="text" readonly="" ng-model="mySubInfo" value="{{uploaded_sub}}" class="form-control">
      </div>
      <button ng-click="selectSrc()" class="btn btn-default">Применить</button>
    </div>
  </form>
  <input id="captionsrc" ng-model="captionsrc" type="text" class="form-control">
  <button ng-click="selectCaption()" class="btn btn-default">Найти!</button>
  <label for="singleSelect"> Single select with "not selected" option and dynamic option values:<br>
    <select id="singleSelect" name="singleSelect" ng-model="sublist">
      <option value="">---Please select---</option>
      <!-- not selected / blank option-->
      <option value="{{sublist[0]}}">Option 1</option>
      <!-- interpolation-->
      <option value="option-2">Option 2</option>
    </select><br>
  </label>
  <video id="video" width="100%" controls preload="true" data-setup="{&quot;fluid&quot;: true}" vjs-video vjs-media="media" class="video-js vjs-default-skin vjs-big-play-centered"></video>
  <button ng-click="addSub()" class="btn btn-default">Перевод фразы
    <!--source(src="video/sintel-short.mp4", type="video/mp4")-->
    <!--track(label='English', kind='subtitles', srclang='en', src='subtitles/vtt/sintel-en.vtt', default='')-->
    
  </button>
</div>
<div ng-repeat="post in posts | orderBy:'-upvotes'" style="font-size:20px">
  <div class="well row"><span style="margin:10px;" ng-show="post.title">{{post.title}}<span ng-show="post.author" style="margin:10px; opacity: 0.5;">posted by</span><span ng-show="post.author" class="label label-pill label-primary"><a href="#/profile/{{post.author}}" style="color: white;">{{post.author}}</a></span>
      <div style="display:inline; position: absolute;right: 0;margin-right:10px;"><span ng-click="incrementUpvotes(post)" class="glyphicon glyphicon-thumbs-up"></span><span class="badge">{{post.upvotes}}</span></div>
      <div style="display:inline; position: absolute;right: 10;margin-right:10px;"><span ng-click="delete(post)" class="glyphicon glyphicon-trash"></span></div></span><img ng-src="{{post.image}}" alt="{{post.image}}" style="margin:10px;" class="img-responsive">
    <div style="margin-left:20px;" ng-bind-html="post.text"></div>
  </div>
</div>
<ul ng-controller="NavCtrl" style="font-weight: bold;" class="pagination">
  <li><a ng-click="prev()"><< Prev</a></li>
  <li><a ng-click="next()">Next >></a></li>
</ul>
<div ng-hide="isLoggedIn()">
  <h3>You need to<a href="/#/login" style="margin:10px;">Log In</a>or<a href="/#/register" style="margin:10px;">Register</a>before you can add a post.</h3>
</div>
<form ng-submit="addPost()" ng-show="isLoggedIn()" style="margin-top:30px;">
  <h3>Add a new post</h3>
  <p>{{test}}</p>
  <div class="form-group">
    <input type="text" placeholder="Title" ng-model="title" class="form-control"><br>
    <input type="text" placeholder="Image" ng-model="image" class="form-control">
  </div>
  <div class="form-group">
    <text-angular ng-model="htmlVariable"></text-angular>
    <!--label(for="comment") Text:
    textarea(
    class="form-control"
    id="comment"
    rows="5"
    cols="50"
    class="form-control"
    placeholder="Text"
    ng-model="text"
    )
    -->
  </div>
  <button type="submit" class="btn btn-primary">Post</button>
</form>