
<div class="page-header">
  <h1>EduJetPlayer</h1>
</div>
<div ng-show="error" class="alert alert-danger row"><span>{{ error.message }}</span></div>
<form ng-submit="logIn(user)" style="margin-top:30px;">
  <h3>Log In</h3>
  <div class="form-group">
    <input type="text" placeholder="Username" ng-model="user.username" class="form-control"/>
  </div>
  <div class="form-group">
    <input type="password" placeholder="Password" ng-model="user.password" class="form-control"/>
  </div>
  <button type="submit" class="btn btn-primary">Log In</button>
</form>